WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HDDInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HDDInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhisicalDrive">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhisicalDrive" nillable="true" type="tns:PhisicalDrive" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhisicalDrive" nillable="true" type="tns:ArrayOfPhisicalDrive" />
  <xs:complexType name="PhisicalDrive">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhisicalDrive" nillable="true" type="tns:PhisicalDrive" />
  <xs:complexType name="ArrayOfMyObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyObject" nillable="true" type="tns:MyObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyObject" nillable="true" type="tns:ArrayOfMyObject" />
  <xs:complexType name="MyObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogicalDrives" nillable="true" type="tns:ArrayOfMyObject2" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyObject" nillable="true" type="tns:MyObject" />
  <xs:complexType name="ArrayOfMyObject2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyObject2" nillable="true" type="tns:MyObject2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyObject2" nillable="true" type="tns:ArrayOfMyObject2" />
  <xs:complexType name="MyObject2">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeSpacePercents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FreeSpaceTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValumeLabel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyObject2" nillable="true" type="tns:MyObject2" />
</xs:schema>