WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HDDInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HDDInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPhisicalDrive">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhisicalDrive" nillable="true" type="tns:PhisicalDrive" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhisicalDrive" nillable="true" type="tns:ArrayOfPhisicalDrive" />
  <xs:complexType name="PhisicalDrive">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LogicalDrives" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhisicalDrive" nillable="true" type="tns:PhisicalDrive" />
</xs:schema>